<div class="app-container version">
  <h1>UI Showcase</h1>
</div>

<div class="app-container">

  primitive: <input [(ngModel)]="primitive"><br/>
  <button (click)="increment()">trigger immutable change</button>
  <!--<app-mimimal [value]="o" [oValue]="o$ | async" (update)="log($event)"></app-mimimal>-->
  <ng-template #loading>Loading...</ng-template>
  <ng-template #error>Error!</ng-template>

  <ui-minimal-push
    *axLazyElement="'http://localhost:4242/elements/main.js'; loadingTemplate: loading; errorTemplate: error"
    [value]="primitive" (update)="log($event)">
  </ui-minimal-push>
  <!-- -->
  <!--
  Old implementation without lazy loading
  remove [oValue]="object$ | async" to test that a normal property change triggers no change detection
  <ui-minimal [value]="object" [oValue]="object$ | async" (update)="log($event)"></ui-minimal>
  -->
</div>

<!--
<div class="app-container">
  <ui-overview on-select-schaden="selectSchaden($event)" on-toggle-arge="toggleARGE($event)"></ui-overview>
</div>
<div class="app-container">
  <ui-form on-form-change="handleMessage($event)"></ui-form>
</div>
-->
